
body{
  display: flex;
  background: url(./resources/celestialchapters/backgrounds/CCbackgroundblue.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.preview {
  min-width: 62%;  
  padding: 1em; 
}
.tools {
  width: 340px;
  display: flex;
  flex-direction: column;
  color: rgb(187, 138, 54);
} 
.tool { 
  min-height: 32px; 
}
 
svg { 
  display: block;    
  margin: 0 auto;
  max-width: 90vw;
  max-height: 90vh;
} 

circle {
  fill: transparent;
} 
.houses-circle-outer
{
  stroke: rgb(187, 138, 54);
  stroke-width: 0.25px;
}
line {
  fill: transparent;
  stroke: rgb(187, 138, 54);
  stroke-width: 0.25px;
}
.zodiac-degree
{
  stroke-width: 0.15px;
}
path { 
  fill: transparent;
  stroke: rgb(187, 138, 54);
  stroke-width: 0.25px;
}
.house-number{
  font-family: Georgia, 'Times New Roman', Times, serif;
  fill: rgb(187, 138, 54);
  font-size: 0.175em;
  text-align: center;
  letter-spacing: -0.1em;
}

.text-planets, .text-houses{
    width:100%;
}
iframe{
  height: 0;
  width: 0;
  border: none;
  visibility: hidden;
}
/* 
.zodiac-sign-element-wind {
  fill: #fdc340;
}
.zodiac-sign-element-water {
  fill: #708ef8;
}
.zodiac-sign-element-fire {
  fill: #fc4d4d;
}
.zodiac-sign-element-earth {
  fill: #53db42;
} */
